{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
{% load filters %}

   <section class="content">     
   
   {% if alert != 0  %}
          <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-ban"></i>Rezerwacja nie powiodła się.</h4>
                Error : <b>{{ alert|to_date}}</b>

	{% if wolny == 0  %}
 		<div class="bg-aqua-active color-palette"><span>Brak wolnego stolika w wybranym terminie.</span></div>
        {% else %}
		<div class="bg-aqua-active color-palette"><span>W wybranym terminie wolny jest stolik nr: {{ wolny }}</span></div>
        {% endif %}
               
         </div> 
             <div class="box-footer">
                <button type="button" onClick="history.back()" class="btn btn-info pull-right">Powrót do formularza</button>
             </div>
         
   {% else %}

          <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-check"></i>Rezerwacja wykonana.</h4>
                Potwierdzenie wysłano do: <b>{{ zmienna.email}}</b>
		<div class="bg-red-active color-palette"><span>Z uwagi na ograniczenia serwera i blokowany smtp maile nie są wysyłane!</span></div>
         </div> 
 
           <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-text-width"></i>

              <h3 class="box-title">Dane Rezerwacji</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <dl class="dl-horizontal">
                <dt>Imie</dt>
                <dd>{{ zmienna.imie}}</dd>
                <dt>Nazwisko</dt>
                <dd>{{ zmienna.nazwisko}}</dd>
                <dt>Nr stolika</dt>
                <dd>{{ zmienna.stolik}}</dd>
                <dt>Ilość osób</dt>
                <dd>{{ zmienna.ileosob}}</dd>
                <dt>Data Rezerwacji</dt>
                <dd>{{ zmienna.od}}  -  {{ zmienna.do}}</dd>    
                <dt>Cena</dt>
                <dd>{{ cena}}$</dd>            
              </dl>
            </div>
            <!-- /.box-body -->
             <div class="box-footer">
                <button type="button" onClick="location.href=''" class="btn btn-info pull-right">Powrót do formularza</button>
             </div>
          </div>
          <!-- /.box -->
        </div> 

   {% endif %}
       
   </section>
{% endblock content %}   

{% block script %} 
<script>

  $(function () {


  });

</script>
{% endblock script %}    

